{%extends "index.html"%}
{%block title%} {{noticia}} {%endblock%}
{% block content %}
<div class="text-center">
<h1>{{noticia.titulo}}</h1>
<p class="text-muted">Fecha de publicacion: {{noticia.fecha}} por <small class="text-primary" >{{noticia.author|capfirst}}</small></p>
<div width="100%" >
    <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
</div>
<p>{{noticia.texto.html|safe }}</p>

</div>
<div class="text-left p-4">
    <strong class=" text-success">Categoria: {{noticia.categoria|capfirst}}</strong>
</div>

<hr>
<div class="container">
    <a class="btn btn-success" href="{% url 'comentario:add_comment_to_post' pk=noticia.id%}">Add comment</a>
    {% for comment in noticia.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.fecha }}</div>
            <strong>{{ comment.noticia.author }}</strong>
            <p>{{ comment.comentario|linebreaks }}</p>
        </div>
    {% empty %}
        <p>Sin Comentarios :(</p>
</div>

{% endfor %}
{%endblock%}

